<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Films Catalog</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<header class="header">
    <div class="container">
        <h1 class="logo">🎬 Films Catalog</h1>
        <p class="subtitle">Рандомные фильмы</p>
    </div>
</header>

<main class="container">

    <div class="catalog">
        <div class="film-card" th:each="film : ${films}">
            <div class="card-header">
                <h2 th:text="${film.title}">Title</h2>
                <span class="year" th:text="${film.releaseYear}">2024</span>
            </div>

            <div class="card-body">
                <p class="director">Режиссёр: <span th:text="${film.director}">Director</span></p>
                <p class="description" th:text="${film.description}">Description</p>

                <h4>Актеры:</h4>
                <ul class="actor-list">
                    <li th:each="fa : ${film.filmActors}">
                        <span th:text="${fa.actor.name} + ' — ' + ${fa.roleName}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div style="text-align:center; margin: 40px 0;">
        <a th:href="@{/films}" class="btn-primary">Управление фильмами</a>
        <a th:href="@{/actors}" class="btn-primary">Управление актерами</a>
    </div>

</main>

<footer class="footer">
    <p>© 2026 Eremkin Films Demo</p>
</footer>

</body>
</html>
